<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>Flack</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">

    </head>
    <body>
        <div id ="container">
            <h1 id="header"> Welcome to Flack!</h1>
            <form id="display_form" action="{{url_for('first_page')}}" method="POST">
                <input type="text" id="name" name="display_name" autocomplete="off" autofocus placeholder="Enter the name you want to show everyone..."/>
                <input type="submit" id="submit" value="Set this as my display name">
                <!-- <button onclick="double(10)">Choose this as my display name</button> -->
            </form>
        </div>
        <!-- <button onclick="double(10)">Choose this as my display name</button> -->

    </body>
</html>

