<!DOCTYPE html>
<html>
    <head>
        {% block head %}

        {% endblock %}

        {{ JSGlue.include() }}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <title>Welcome {{display_name}}</title>
    </head>
    <body>
        <div id="container">
            <div class="all_channels">
                <h1>Hello {{display_name}} !</h1>
                <!-- <div>

                </div> -->
                <div>
                    <div>
                        <div id="channel_header_1">
                            <h2 style="margin-right:10px;">Channels</h2>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                +
                            </button>        
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="exampleModalLongTitle">Create new channel</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="false">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- <form id="create_channel">
                                            <input type="text" placeholder="SuperCoolChannelName..." id="channel_name"/>
                                        </form> -->
                                        <div class="form-group">
                                                <form id="create_channel">
                                                        <!-- <div class="form-group"> -->
                                                        <label for="recipient-name" class="col-form-label">Name of channel: </label>
                                                        <input type="text" class="form-control" id="channel_name" placeholder="SuperCoolChannelName..."/>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary" id="channel_creator_button">Lets create it!</button>
                                                </form>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- <h1>Create a new channel!</h1>
                        <form id="create_channel">
                            <input type="text" placeholder="SuperCoolChannelName..." id="channel_name"/>
                            <input type="submit" value="Create new channel!" id="channel_creator_button"/>
                        </form>
                        <button id="close_button">Close</button> -->
                    </div>
                </div>
                <div id="channels_parent">
                    {% for channel in channels %}
                        <a class="single_channel" onclick="handle_channel_click('{{channel[0]}}')">
                            <p>{{channel[0]}}, created by {{channel[1]}}</p>
                            <!-- <a href="{{url_for('channel', channel_name = channel[0])}}">{{channel[0]}}</a>, created by {{channel[1]}} -->
                        </a>
                    {% else %}
                        <h1 id="first_comment">There are no channels yet :(</h1>
                    {% endfor %}
                </div>

                <!-- <div id="all_users">
                    <h1></h1>
                </div> -->
            </div>
            <div class="channel_messages_container">   
                {% block body %}
        
                {% endblock %}
            </div>
        </div>
    </body>
</html>